<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test index.ejs</title>
  <link rel="stylesheet" href="main.css" />
</head>
<body>
  <div class="container">
    <div class="title">
      <h1><%= config.siteName %></h1>
    </div>
    <div class="postlinks">
      <% posts.forEach(function (post) { %>
        <a href="<%= post.frontmatter.slug %>"><h3><%= post.frontmatter.title %></h3></a>
      <% }); %>
    </div>
  </div>
</body>
</html>
