<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test post.ejs</title>
  <link rel="stylesheet" href="main.css" />
</head>
<body>
  <div class="container">
    <div class="post_title">
      <h1><%= post.frontmatter.title %></h1>
    </div>
    <div class="body_html">
      <%- post.bodyHtml %>
    </div>
  </div>
</body>
</html>
