<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>mikefooks.com</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="main.css" />
  <script>
    document.createElement("picture");
  </script>
  <script src="../picturefill.min.js" async></script>
</head>
<body>
  <div class="container">
    <main>
    <section>
      <div class="index_nobreaks">
        <h1>mikefooks.com</h1>
      </div>
      <div class="index_breaks">
        <h1>
        mike<br />
        fooks<br/>
        .com
        </h1>
      </div>
    </section>
    <% posts.forEach(function (post) { %>
    <section>
      <div class="teaser">
        <a href="/<%= post.frontmatter.slug %>/"><h4><%= post.frontmatter.title %></h4></a>
      </div>
    </section>
    <% }); %>
    </main>
    <footer><small>&copy; 2015 Mike Fooks</small></footer>
  </div>
</body>
</html>
