<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>mikefooks.com</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="main.css" />
</head>
<body>
  <div class="container">
    <main>
    <header class="content_box">
      <h1>
      mike<br/>
      fooks<br/>
      .com
      </h1>
    </header>
    <% posts.forEach(function (post) { %>
    <article class="content_box">
      <div class="teaser">
        <h2><%= post.frontmatter.title %></h2>
        <h3><%= post.frontmatter.author %></h3>
      </div>
    </article>
    <% }); %>
    <article class="content_box">
      <div class="teaser">
        <h2>This is a Test Article</h2>
        <p>This is where some text will eventually go when everything is ready to go, there will be a nifty little ellipsis at the end that you can click to continue on to the main article page.</p>
      </div>
    </article>
    </main>
    <footer><small>&copy; 2015 Mike Fooks</small></footer>
  </div>
</body>
</html>