<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>mikefooks.com</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="main.css" />
</head>
<body>
  <div class="container">
    <div class="title">
      <img src="logo.svg" />
    </div>
    <% posts.forEach(function (post) { %>
      <div class="content">
        <a href="/<%= post.frontmatter.slug %>/"><h2><%= post.frontmatter.title %></h2></a>
	<small><%= post.frontmatter.created.toString() %></small>
	<p>Blah blah blah blah blah blah <a href="/<%= post.frontmatter.slug %>/">... (read more)</a>
      </div>
    <% }); %>
  </div>
</body>
</html>
