<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main Title Goes Here</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Playing Around!</h1>
    </header>
    <div class="main">
      <% titles.forEach(function (title) { %> 
        <h2><%= title %></h2>
      <% }) %>
    </div>
    <footer></footer>
  </div>
</body>
</html>