<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>mikefooks.com</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="main.css" />
  <script>
    document.createElement("picture");
  </script>
  <script src="../picturefill.min.js" async></script>
</head>
<body>
  <div class="container">
    <div class="title">
      <h1>mike<br />fooks<br />.com</h1>
    </div>
    <% posts.forEach(function (post) { %>
      <div class="content">
        <a href="/blog/<%= post.frontmatter.slug %>/"><h3><%= post.frontmatter.title %></h3></a>
      </div>
    <% }); %>
  </div>
</body>
</html>
