<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>mikefooks.com</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="../main.css" />
</head>
<body>
  <div class="container">
    <main>
    <header class="content_box">
      <h1>
      mike<br/>
      fooks<br/>
      .com
      </h1>
    </header>
    <article class="post_box">
      <div class="the_content">
        <h3><%= post.frontmatter.title %></h3>
        <small><%= post.frontmatter.created.toString() %></small>
        <%- post.bodyHtml %>
      </div>
    </article>
    </main>
    <footer><small>&copy; 2015 Mike Fooks</small></footer>
  </div>
</body>
</html>