<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>mikefooks.com</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="../main.css" />
  <script>
    document.createElement("picture");
  </script>
  <script src="../picturefill.min.js" async></script>
</head>
<body>
  <div class="container">
    <main>
    <section class="header">
      <h1>
      name<br/>
      here<br/>
      .com
      </h1>
    </section>
    <article>
      <div class="content">
        <h3><%= post.frontmatter.title %></h3>
        <small><%= post.frontmatter.created.toString() %></small>
        <%- post.bodyHtml %>
      </div>
    </article>
    </main>
    <footer><small>&copy; 2015 Mike Fooks</small></footer>
  </div>
</body>
</html>